.sign-in {
  width: 380px;

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 525px) {
  .sign-in {
    width: 90%;
    text-align: center;

    .buttons {
      flex-direction: column;
    }
  }
}
